* {
    font-family: "Playfair Display";
    margin: 0;
    padding: 2px;
    text-align: center;
}



body {
    background-color: wheat;

}

::selection {
    color: #ffdd4d;
    background-color: #000;
}

